*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Red Hat Display', sans-serif;
}

body {
	font-size: 1.8rem;
	color: rgb(31, 47, 86);
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: rgb(224, 232, 255);
	padding: 30px 20px;
}

.card {
	display: flex;
	flex-direction: column;
	max-width: 450px;
	height: 700px;
	border-radius: 15px;
	background: white;
}

.image {
	width: 100%;
	height: 220px;
	border-radius: 15px 15px 0 0;
	background: url('./images/illustration-hero.svg') no-repeat;
	background-size: 100% 100%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 70%;
	padding: 50px 40px;
}

.title {
	font-size: 2.8rem;
	font-weight: 900;
}

.text {
	text-align: center;
	color: rgb(114, 128, 167);
}

.order {
	display: flex;
	width: 100%;
}

.order__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px;
	background: rgb(245, 247, 255);
	border-radius: 10px;
}

.icon-music {
	position: relative;
	padding-left: 70px;
}

.icon-music::before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	background: url('./images/icon-music.svg') no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.order__name {
	font-weight: 700;
}

.order__price {
	color: rgb(114, 128, 167);
}

.link:hover {
	text-decoration: none;
	color: rgb(118, 108, 241);
}

.button {
	font-weight: 700;
	padding: 15px 0;
}

.button:hover {
	cursor: pointer;
}

.button__proceed {
	width: 100%;
	border-radius: 10px;
	color: white;
	border: none;
	background: rgb(56, 41, 224);
	box-shadow: 0px 10px 30px 2px rgba(56, 41, 224, 0.356);
	transition: all .5s ease;
}

.button__proceed:hover {
	background: rgb(118, 108, 241);
}

.button__cancel {
	border: none;
	color: rgb(114, 128, 167);
	background: none;
}

.button__cancel:hover {
	color: rgb(31, 47, 86);
}


/* mobile */
@media (max-width: 480px) {
	body {
		font-size: 1.6rem;
	}

	.card {
		max-height: 550px;
	}

	.image {
		height: 25%;
	}

	.content {
		height: 75%;
		padding: 30px 20px 20px 20px;
	}
}

@media (max-width: 350px) {
.card {
	max-height: 480px;
}

	.content {
		padding: 15px 10px;
	}

	.title {
		font-size: 2.3rem;
	}

	.order__row {
		font-size: 1.2rem;
		padding: 15px;
	}

	.icon-music {
		padding-left: 55px;
	}

	.icon-music::before {
		top: -6px;
		left: -5px;
	}
}
