@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Red Hat Display', sans-serif;
}

:root {
	/** ============== Colors ============== */
	/* Background */
	--wrapper-bg-color: rgb(224, 232, 255);
	--card-bg-color: white;
	--order-row-bg-color: rgb(245, 247, 255);
	--button-proceed-bg-color: rgb(56, 41, 224);
	--button-proceed-bg-color--hover: rgb(118, 108, 241);

	/* Font */
	--body-font-color: rgb(31, 47, 86);
	--text-font-color: rgb(114, 128, 167);
	--order-price-font-color: rgb(114, 128, 167);
	--link-font-color--hover: rgb(118, 108, 241);
	--button-proceed-font-color: white;
	--button-cancel-font-color: rgb(114, 128, 167);
	--button-cancel-font-color--hover: rgb(31, 47, 86);

	/* Shadow */
	--button-proceed-shadow-color: rgba(56, 41, 224, 0.356);
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	color: var(--body-font-color);
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 750px;
	background: var(--wrapper-bg-color);
	padding: 30px 20px;
}

.card {
	display: flex;
	flex-direction: column;
	max-width: 450px;
	height: 700px;
	border-radius: 15px;
	background: var(--card-bg-color);
}

.image {
	width: 100%;
	height: 220px;
	border-radius: 15px 15px 0 0;
	background: url('./images/illustration-hero.svg') no-repeat;
	background-size: 100% 100%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 70%;
	padding: 50px 40px;
}

.title {
	font-size: 2.8rem;
	font-weight: 900;
}

.text {
	text-align: center;
	color: var(--text-font-color);
}

.order {
	display: flex;
	width: 100%;
}

.order__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px;
	background: var(--order-row-bg-color);
	border-radius: 10px;
}

.icon-music {
	position: relative;
	padding-left: 70px;
}

.icon-music::before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	background: url('./images/icon-music.svg') no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.order__name {
	font-weight: 700;
}

.order__price {
	color: var(--order-price-font-color);
}

.link:hover {
	text-decoration: none;
	color: var(--link-font-color--hover);
}

.button {
	font-weight: 700;
	padding: 15px 0;
}

.button:hover {
	cursor: pointer;
}

.button__proceed {
	width: 100%;
	border-radius: 10px;
	border: none;
	background: var(--button-proceed-bg-color);
	color: var(--button-proceed-font-color);
	box-shadow: 0px 10px 30px 2px var(--button-proceed-shadow-color);
	transition: all .5s ease;
}

.button__proceed:hover {
	background: var(--button-proceed-bg-color--hover);
}

.button__cancel {
	border: none;
	color: var(--button-cancel-font-color);
	background: none;
}

.button__cancel:hover {
	color: var(--button-cancel-font-color--hover);
}

/** ============== Media ============== */
/* mobile */
@media (max-width: 480px) {
	body {
		font-size: 1.6rem;
	}

	.wrapper {
		min-height: 600px;
	}

	.card {
		max-height: 550px;
	}

	.image {
		height: 25%;
	}

	.content {
		height: 75%;
		padding: 30px 20px 20px 20px;
	}
}

@media (max-width: 350px) {
	.card {
		max-height: 480px;
	}

	.content {
		padding: 15px 10px;
	}

	.title {
		font-size: 2.3rem;
	}

	.order__row {
		font-size: 1.2rem;
		padding: 15px;
	}

	.icon-music {
		padding-left: 55px;
	}

	.icon-music::before {
		top: -6px;
		left: -5px;
	}
}